.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}

section {
  scroll-margin-top: 60px;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}

#contacts .row {
  margin-top: 20px;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #dddddd;
}

::-webkit-scrollbar-thumb {
  background: lightskyblue;
}

#gallery {
  background-color: #e2edff;
}
